<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-server></app-server>
      <hr />
      <h3>Hero Area</h3>
      <hr />
      <app-servers></app-servers>
    </div>
  </div>
</div> -->
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBluePrintAdded($event)">
  </app-cockpit>
  <div class="row">
    <div class="col-md-12">
      <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement">
        <p class="card-text">
          <strong *ngIf="serverElement.type=='server'" style="color: red;"> {{serverElement.content}}</strong>
          <strong *ngIf="serverElement.type=='blueprint'">{{serverElement.content}}</strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>